/* ik heb de spiegeltekst gevonden via de link http://a-shops-ranking.com/questions/1244/kun-je-css-gebruiken-om-tekst-te-spiegelen-omkeren*/
/* ik heb de rotatie gevonden via de link https://flaviocopes.com/rotate-image/*/
/* credits naar Nina Bergen*/

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  grid-gap: 5px;
}

/*elementen binnen mijn grid*/
.T {
  grid-column: 5 / 11;
  grid-row: 1 / 11;
  background: black;
  color: white;
  font-size: 35em;
  text-align: center;
  vertical-align: top;
  font-family: sans-serif;
}

.Y  {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  background: black;
  color: white;
  font-size: 17em;
  text-align: center;
  font-family: sans-serif;
}

.P1 {
  grid-column: 1 / 3;
  grid-row: 4 / 7;
  background: black;
  color: white;
  font-size: 10em;
  text-align: center;
  font-family: sans-serif;
}

.O {
  grid-column: 3 / 5;
  grid-row: 4 / 7;
  background: black;
  color: white;
  font-size: 10em;
  text-align: center;
  font-family: sans-serif;
}

.G  {
  grid-column: 1 / 2;
  grid-row: 7 / 9;
  background: black;
  color: white;
  font-size: 7em;
  text-align: center;
  font-family: sans-serif;
}

.R {
  grid-column: 2 / 4;
  grid-row: 7 / 9;
  background: black;
  color: white;
  font-size: 7em;
  text-align: center;
  font-family: sans-serif;
}

.A  {
  grid-column: 4 / 5;
  grid-row: 7 / 9;
  background: black;
  color: white;
  font-size: 7em;
  text-align: center;
  font-family: sans-serif;
}

.P2  {
  grid-column: 1 / 2;
  grid-row: 9 / 11;
  background: black;
  color: white;
  font-size: 6em;
  text-align: center;
  font-family: sans-serif;
}

.H  {
  grid-column: 2 / 3;
  grid-row: 9 / 11;
  background: black;
  color: white;
  font-size: 6em;
  text-align: center;
  font-family: sans-serif;
}

.I  {
  grid-column: 3 / 4;
  grid-row: 9 / 11;
  background: black;
  color: white;
  font-size: 6em;
  text-align: center;
  font-family: sans-serif;
}

.E  {
  grid-column: 4 / 5;
  grid-row: 9 / 11;
  background: black;
  color: white;
  font-size: 6em;
  text-align: center;
  font-family: sans-serif;
}

/*infade effecten*/
.T span {
    animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Y span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.P1 span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.O span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.G span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.R span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.A span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.P2 span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.H span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.I span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.E span {
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*hover animaties*/
.P1:hover {
  transition-duration: 1s;
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.G:hover {
  transition-duration: 1s;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.R:hover {
  transition-duration: 1s;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.P2:hover {
  transition-duration: 1s;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.E:hover {
  transition-duration: 1s;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

/*background color change animaties*/
/*background color change animatie T*/
.klikklik {
  opacity: 1;
background-image: linear-gradient(to bottom, #9be15d, #aee34f, #c1e53f, #d6e62d, #ebe616);
  animation: faden 1s ease-in;
}

@keyframes faden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*background color change animatie Y*/
.klikklik1  {
background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
animation: faden 1s;
}

@keyframes faden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*background color change animatie Y*/
.klikklik2  {
background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
animation: faden 1s;
}

@keyframes faden {
  0% {
    opacity: 0;
  }
  100%  {
    opacity: 100;
  }
}

/*background color change animatie P*/
.klikklik3  {
background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);  animation: faden 1s;
}

@keyframes faden {
  0% {
    opacity: 0;
  }
  100%  {
    opacity: 100;
  }
}

/*background color change animatie O*/
.klikklik4  {
  background: #B821FF;
  background: -webkit-linear-gradient(top, #B821FF, #FF39EB);
  background: -moz-linear-gradient(top, #B821FF, #FF39EB);
  background: linear-gradient(to bottom, #B821FF, #FF39EB);
animation: faden 1s;
}

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
}

/*background color change animatie G*/
.klikklik5  {
background: #B821FF;
background: -webkit-linear-gradient(top, #B821FF, #FF39EB);
background: -moz-linear-gradient(top, #B821FF, #FF39EB);
background: linear-gradient(to bottom, #B821FF, #FF39EB);
animation: faden 1s;
}

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
  }

/*background color change animatie R*/
.klikklik6  {
background: #B821FF;
background: -webkit-linear-gradient(top, #B821FF, #FF39EB);
background: -moz-linear-gradient(top, #B821FF, #FF39EB);
background: linear-gradient(to bottom, #B821FF, #FF39EB);
animation: faden 1s;
}

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
  }

/*background color change animatie A*/
.klikklik7  {
background: #FF39EC;
background: -webkit-linear-gradient(top, #FF39EC, #EBE616);
background: -moz-linear-gradient(top, #FF39EC, #EBE616);
background: linear-gradient(to bottom, #FF39EC, #EBE616);
animation: faden 1s;
  }

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
  }

/*background color change animatie P*/
.klikklik8  {
background: #FF39EC;
background: -webkit-linear-gradient(top, #FF39EC, #EBE616);
background: -moz-linear-gradient(top, #FF39EC, #EBE616);
background: linear-gradient(to bottom, #FF39EC, #EBE616);
animation: faden 1s;
  }

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
  }

/*background color change animatie H*/
.klikklik9  {
background: #FF39EC;
background: -webkit-linear-gradient(top, #FF39EC, #EBE616);
background: -moz-linear-gradient(top, #FF39EC, #EBE616);
background: linear-gradient(to bottom, #FF39EC, #EBE616);
animation: faden 1s;
  }

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
  }

/*background color change animatie I*/
.klikklik10  {
background: #FF39EC;
background: -webkit-linear-gradient(top, #FF39EC, #EBE616);
background: -moz-linear-gradient(top, #FF39EC, #EBE616);
background: linear-gradient(to bottom, #FF39EC, #EBE616);
animation: faden 1s;
  }

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
  }

/*background color change animatie E*/
.klikklik11 {
background: #FF39EC;
background: -webkit-linear-gradient(top, #FF39EC, #EBE616);
background: -moz-linear-gradient(top, #FF39EC, #EBE616);
background: linear-gradient(to bottom, #FF39EC, #EBE616);
animation: faden 3s;
}

@keyframes faden {
0% {
opacity: 0;
}
100%  {
opacity: 100;
}
}

/*turn around animaties*/
.toetsklikken {
  animation: rotations 1.5s ease-in;
}

@keyframes rotations {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
